html {
    font-family: Helvetica, sans-serif;
}

body, input, table {
    font-family: inherit;
}

body {
    background-color: rgb(238, 238, 238);
    color: rgb(51, 51, 51);
    margin: 2em;
    width: 50em
}

p img {
    width: 37.5em;
}

aside {
    display: block;
    position: absolute;
    top: 1em;
    right: 0;
}